html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-orange-ff8a66 {
    background-color: #ff8a66; /* Define a cor de fundo desejada */
    color: #fff; /* Define a cor do texto */
}

.dropdown-item:active {
    background-color: #fda287; /* Define a cor de fundo desejada */
    color: #fff; /* Define a cor do texto */
}

.dropdown-item:hover {
    background-color: #fda287; /* Define a cor de fundo desejada */
    color: #fff; /* Define a cor do texto */
}

.custom-dropdown-menu{
    background-color: #ff5300f2;
}

.btn-orange-ff8a66_2 {
    background-color: #f0400a; /* Define a cor de fundo desejada */
    color: #fff; /* Define a cor do texto */
}

.btn-orange-ff8a66_2:hover {
    background-color: #00c315; /* Define a cor de fundo desejada */
    color: #fff; /* Define a cor do texto */
}