@model CarrinhoCompraViewModel

@if(Model.CarrinhoCompra.CarrinhoCompraItens.Count > 0)
{
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <span>
            <img src="~/images/carrinhoCompra.png"/>
        </span>

        <span style="color:azure ">
            @Model.CarrinhoCompra.CarrinhoCompraItens.Count
        </span>
    </a>
}