<div class="container">
    <img src="~/images/dialogo.png" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco!
        </p>
        <p>
            <span>
                <img src="~/images/envelope.png" />
            </span>
            <h5><email endereco="altairxneto@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone.png" />
            </span>
            <h5>(62) 99455-3049</h5>
            <br />
            <span>
                <img src="~/images/home.png" />
            </span>
            <h5>Trindade - Goiás</h5>
        </p>
    </div>
</div>